<% content_for :side do %>
  <%= link_to 'Zapomněli jste své heslo?', forgotten_password_path, class: :btn %>
<% end %>

<%= form_tag user_sessions_path do %>
  <div class='grouped'>
    <%= label_tag :email, 'E-mail' %>
    <%= text_field_tag :email, params[:email] %>
    <%= label_tag :password, 'Heslo' %>
    <%= password_field_tag :password %>
  </div>
  <%= submit_tag 'Přihlásit se' %>
<% end %>
